# Load Data

In [2]:
import pandas as pd

# Replace 'path/to/your/csv' with the authentic file pathway on your local apparatus

file_path = '/content/titanic.csv'

data = pd.read_csv(file_path)

# Examine the Data

In [3]:
# Display the initial few records within the DataFrame
print(data.head())

# Disclose the dimensions (number of rows and columns) of the DataFrame
print(data.shape)

# Unveil the data types attributed to each column in the DataFrame
print(data.dtypes)

# Present a concise summary encompassing statistical metrics pertinent to numerical columns
print(data.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
(891, 12)
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

# Select Specific Columns

In [7]:
# Isolate the 'Name' column
name = data['Name']

# Extract multiple columns, such as 'Sex' and 'Age'
selected_columns = data[['Sex', 'Age']]

# Select Specific Rows Through Slicing

In [8]:
# Capture the first ten rows within the DataFrame
first_10_rows = data[:10]

# Select Rows Based on Conditions

In [9]:
# Identify rows wherein 'Survived' is equivalent to 1 (representing Survived customers)
survived_people = data[data['Survived'] == 1]

# Modify Data Values

In [11]:
# Enhance the values within the 'Fare' column by incrementing each value by 10 units
data['Fare'] = data['Fare'] + 10

# Add a new column

In [12]:
# Add a new column 'Fare_Categories' based on the
def fare_category(fare):
    if fare < 10:
        return 'Very Low'
    elif fare < 30:
        return 'Low'
    elif fare < 60:
        return 'Moderate'
    elif fare < 100:
        return 'High'
    else:
        return 'Very High'

# Apply the fare_category function to create the new column
data['Fare_Categories'] = data['Fare'].apply(fare_category)

# Drop a column

In [13]:
# Drop the 'Ticket' column
data = data.drop('Ticket', axis=1)

# Save the modified DataFrame to a new CSV file

In [14]:
# Save the modified DataFrame to a new CSV file
data.to_csv('Modified_titanic.csv', index=False)